<div *ngIf="role">
	<h2 class="text-right" *ngIf="role._id">{{role.name | uppercase}} DETAILS</h2>
	<h2 class="text-right" *ngIf="!role._id">CREATE A NEW USER ROLE</h2>
	<form [formGroup]="roleForm" (ngSubmit)="roleForm.valid && onSubmit()" novalidate>
		<div class="form-group margin-bottom-sm" [ngClass]="{ 'has-error': name.invalid && name.touched }">
			<div class="input-group">
				<input class="form-control" formControlName="name" placeholder="Role Name" data-toggle="tooltip" data-placement="bottom" title="Role Name">
				<span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Role Name"><i class="fa fa-users fa-fw"></i></span>
			</div>
			<div *ngIf="name.invalid && name.touched" >
				<div class="help-block" *ngIf="name.errors.required">
					Name is required.
				</div>
				<div class="help-block" *ngIf="name.errors.minlength">
					Name must be at least 3 characters long.
				</div>
				<div class="help-block" *ngIf="name.errors.maxlength">
					Name must be maximum 25 characters long.
				</div>
			</div>
		</div>
		<div class="form-group text-right">
			<input type="button" class="btn btn-primary" role="button" value="Back" (click)="goBack()">
			<input type="submit" class="btn btn-success" role="button" value="Save" [disabled]="roleForm.pristine">
		</div>
	</form>
</div>