<h2>User Listing</h2>
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Username</th>
			<th>Role</th>
			<th>Image</th>
			<th>
				<button type="button" class="btn btn-success pull-right" *ngIf="currentUser.role.name === 'admin'" (click)="add()">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users; let i = index ">
			<th>{{i+1}}</th>
			<td>{{user.username}}</td>
			<td>{{user.role.name}}</td>
			<td><img src="{{user.image}}" class="img-thumbnail img-fluid" *ngIf="user.image"></td>
			<td class="text-right">
				<button type="button" class="btn btn-danger" *ngIf="currentUser.role.name === 'admin'" (click)="delete(user)">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
				<button type="button" class="btn btn-primary" *ngIf="currentUser._id === user._id || currentUser.role.name === 'admin'" (click)="gotoDetail(user)">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>