<nav class="navbar navbar-default" *ngIf="currentUser">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">{{title}}</a>
		</div>
		<ul class="nav navbar-nav">
			<li routerLinkActive="active">
				<a class="nav-link" routerLink="/roles" >Roles</a>
			</li>
			<li routerLinkActive="active">
				<a class="nav-link" routerLink="/users">Users</a>
			</li>
			<li routerLinkActive="active">
				<a class="nav-link" routerLink="/clients">Clients</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
			</li>
		</ul>
	</div>
</nav>
<div class="jumbotron">
	<!-- main app container -->
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
