<div *ngIf="type">
	<h2 *ngIf="type._id">{{type.name | uppercase}} DETAILS</h2>
	<h2 *ngIf="!type._id">CREATE A NEW USER TYPE</h2>
	<div class="row">
		<div *ngIf="type._id">
			<div class="col-md-5 text-right">
				<label>id: </label>
			</div>
			<div class="col-md-7 text-left">
				{{type._id}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 text-right">
			<label>name: </label>
		</div>
		<div class="col-md-7 text-left">
			<input [(ngModel)]="type.name" placeholder="name" />
		</div>
	</div>
	<div class="row">
		<input class="btn btn-primary" type="button" value="Back" (click)="goBack()">
		<input class="btn btn-primary" type="button" value="Save" *ngIf="type._id" (click)="save()">
		<input class="btn btn-primary" type="button" value="Save" *ngIf="!type._id" (click)="create()">
	</div>
</div>