<div *ngIf="user">
	<h2 *ngIf="user._id">{{user.username | uppercase}} DETAILS</h2>
	<h2 *ngIf="!user._id">CREATE A NEW USER</h2>
	<div class="row">
		<div *ngIf="user._id">
			<div class="col-md-5 text-right">
				<label>id: </label>
			</div>
			<div class="col-md-7 text-left">
				{{user._id}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 text-right">
			<label>username: </label>
		</div>
		<div class="col-md-7 text-left">
			<input [(ngModel)]="user.username" placeholder="username" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 text-right">
			<label>password: </label>
		</div>
		<div class="col-md-7 text-left">
			<input type="password" [(ngModel)]="user.password" placeholder="password" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 text-right">
			<label>type: </label>
		</div>
		<div class="col-md-7 text-left">
			<select [(ngModel)]="user.type._id">
		 	<option *ngFor="let type of types" [value]="type._id" ng-selected="type._id === user.type._id">{{ type.name }}</option>
		</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 text-right">
			<label>Image: </label>
		</div>
		<div class="col-md-7 text-left">
			<input *ngIf="user.image" [(ngModel)]="user.image" placeholder="image" />
			<input *ngIf="!user.image" type="file" [(ngModel)]="user.image"/><br>
		</div>
	</div>
	<div class="row">
		<input class="btn btn-primary" type="button" value="Back" (click)="goBack()">
		<input class="btn btn-primary" type="button" value="Save" *ngIf="user._id" (click)="save()">
		<input class="btn btn-primary" type="button" value="Save" *ngIf="!user._id" (click)="create()">
	</div>
</div>