<div *ngIf="user">
	<h2 *ngIf="user._id">{{user.username | uppercase}} DETAILS</h2>
	<h2 *ngIf="!user._id">CREATE A NEW USER</h2>
	<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label class="center-block">Username:
				<input class="form-control" formControlName="username">
			</label>
			<label class="center-block">Password:
				<input type="password" class="form-control" formControlName="password">
			</label>
			<label class="center-block">Role:
				<select formControlName="role">
					<option *ngFor="let role of roles" [ngValue]="role" [selected]="role.name === user.role._id">{{ role.name }}</option>
				</select>
			</label>
			<label class="center-block">Image:
				<input type="file" class="form-control" formControlName="image">
			</label>
		</div>
		<div class="form-group">
			<input class="btn btn-primary" role="button" value="Back" (click)="goBack()">
			<input type="submit" class="btn btn-success" role="button" value="Save" *ngIf="user._id" [disabled]="userForm.pristine">
			<input type="submit" class="btn btn-success" role="button" value="Save" *ngIf="!user._id" [disabled]="userForm.pristine">
		</div>
	</form>
</div>