<div *ngIf="client">
	<h2 *ngIf="client._id">{{client.name}} details!</h2>
	<h2 *ngIf="!client._id">Create a new Client</h2>
	<div *ngIf="client._id">
		<label>id: </label>{{client._id}}
	</div>
	<div>
		<label>name: </label>
		<input [(ngModel)]="client.name" placeholder="name" />
	</div>
	<div>
		<label>phone: </label>
		<input [(ngModel)]="client.phone" placeholder="phone" />
	</div>
	<div>
		<label>married: </label>
		<input type="checkbox" [(ngModel)]="client.married" ng-selected="client.married" />
	</div>
	<div>
		<label>sex: </label>
		 <select [(ngModel)]="client.male">
		 	<option value="true" ng-selected="client.male">male</option>
		 	<option value="false" ng-selected="!client.male">female</option>
		</select>
	</div>
	<div>
		<label>age: </label>
		<input [(ngModel)]="client.age" placeholder="age" type="number" />
	</div>
	<div>
		<label>profession: </label>
		<input [(ngModel)]="client.profession" placeholder="profession" />
	</div>
	<button (click)="goBack()">Back</button>
	<button *ngIf="client._id" (click)="save()">Save</button>
	<button *ngIf="!client._id" (click)="create()">Save</button>
</div>