<div *ngIf="client">
	<h2 *ngIf="client._id">{{client.name | uppercase}} DETAILS</h2>
	<h2 *ngIf="!client._id">CREATE NEW CLIENT</h2>
	<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label class="center-block">Name:
				<input class="form-control" formControlName="name">
			</label>
			<label class="center-block">Phone:
				<input type="tel" class="form-control" formControlName="phone">
			</label>
			<label class="center-block">
				<input type="checkbox" formControlName="married" value="true">Married
			</label>
			<label class="center-block">Sex:
				<select formControlName="male">
					<option value="true" ng-selected="client.male">Male</option>
					<option value="false" ng-selected="!client.male">Female</option>
				</select>
			</label>
			<label class="center-block">Age:
				<input type="number" min="1" max="100" class="form-control" formControlName="age">
			</label>
			<label class="center-block">Profession:
				<input class="form-control" formControlName="profession">
			</label>
		</div>
		<div class="form-group">
			<input class="btn btn-primary" role="button" value="Back" (click)="goBack()">
			<input type="submit" class="btn btn-success" role="button" value="Save" [disabled]="clientForm.pristine">
		</div>
	</form>
</div>